body{
    margin: 0;
    overflow-x: hidden;
}
.navbar{
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, rgb(26, 26, 68), rgba(12, 14, 46, 0.753));
    display: flex;
    justify-content: space-between;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
@keyframes movelogo{
    0%{
        transform: translateX(0%);
    }
    50% {
       transform: translateX(350%);
    }
    100%{
    
     transform: translateX(0%);
    }
}
.logo img{
  height: 100%;
    animation-name: movelogo;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.list ul li{
    list-style-type: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.938);
   border-inline-color: rgb(32, 32, 112);
    border-radius: 10px;
}

.aboutbatman {
    background-image: url(https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/d1d68dd9-bd61-4900-9d05-64d124f6494a/FanAnimatedBatman.jpg);
    background-attachment: scroll;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.batabout {
    width: 60%;
    height: 90vh;
    margin: 25px 20px;
    padding: 15px 5px;
    color: white;
    background-color: rgba(41, 37, 37, 0.493);
}

@keyframes slide {
    0% {
        transform: translatey(-100%);
        opacity: .5;
    }
   10% {
        transform: translatey(0%);
        opacity: 1;
    }
    30%{
        transform: translatey(100%);
        opacity: .0 ;
    }
    40% {
        transform: translatey(100%);
        opacity: 0;
    }
    100% {
        transform: translatey(100%);
        opacity: 0;
    }

}
.batimg {
    width: 30%;
    height: 90vh;
    /* margin: 10px 20px; */
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}

.batimg img{
    position: absolute;
    overflow: hidden;
    padding: 20px 20px;
    height: 70%;
    justify-content: center;
    align-items: center;
    animation-name: slide;
    animation-timing-function: ease-in;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    /* animation-direction: right; */
    transform: translateX(100%);
    opacity: 0;
}
.batimg img:nth-child(1){
    animation-delay: 1s;
}
.batimg img:nth-child(2){
    animation-delay: 4s;
}
.batimg img:nth-child(3){
    animation-delay: 7s;
}
.batimg img:nth-child(4){
    animation-delay: 10s;
}
.films{
    height: 500px;
    background: linear-gradient(to top , rgb(10, 10, 39) , rgb(63, 60, 60) , rgb(17, 17, 17));
    
}
.filmcards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
.cards img{
    margin-top: 30px;
    height: 350px;
    width: 220px;
    border-radius: 15px;
    border: 8px solid;
}
.slide{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: white;
    text-decoration: double;
    margin-bottom: 5px;
}
.slide span:hover{
    transform: scale(150%);
    padding-bottom: 10px;
    color: rgb(190, 132, 5);
}
@keyframes skew{
    0%{
        transform: skew(-10deg);
    }
    50%{
        transform: skew(10deg);
    }
    100%{
        transform: skew(-10deg)
    }
}
#images1{
    animation: skew 4s linear 0s infinite;
}
@keyframes scale {
    0%{
        transform: scale3d(.5,.5,.3);
    }
    50%{
        transform: scale3d(1.5,1.2,1);
    }
    100%{
        transform: scale3d(.5,.5,.3);
    }
}
#images2{
    animation: scale 4s linear 0s infinite;
}
@keyframes rotate{
    0%{
        transform: rotateX(90deg);
    }
    50%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}
#images3{
    animation: rotate 8s linear 0s infinite;
}
@keyframes translate{
    0%{
        transform: translateY(-20px)
    }
    50%{
        transform: translateY(20px)
    }
    100%{
        transform: translatey(-20px)
    }
}
#images4{
    animation: translate 4s linear 0s infinite;
}
@keyframes perspective{
    0%{
        transform: perspective(500px)
        rotate(-25deg);
    }
    50%{
        transform: perspective(0px)
        rotate(25deg);
    }
    100%{
        transform: perspective(500px)
        rotate(-25deg);
    }
    
}
#images5{
    animation: perspective 4s linear 0s infinite;
}
.joker {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background: linear-gradient(to top , rgb(5, 22, 5), rgb(1, 8, 15));
}

.jokerabout {
    width: 60%;
    height: 90vh    ;
    margin: 25px 20px;
    padding: 15px 5px;
    color: white;
    
}

.jokerimg {
    width: 30%;
    height: 90vh;
    margin: 10px 20px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

.jokerimg img{
    position: absolute;
    overflow: hidden;
    padding: 20px 20px;
    height: 80%;
    justify-content: center;
    align-items: center;
    animation-name: jokerslide;
    animation-timing-function: ease-in;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    transform: translateX(100%);
    opacity: 0;
}
.jokerimg img:nth-child(1){
    animation-delay: 1s;
}
.jokerimg img:nth-child(2){
    animation-delay: 4s;
}
.jokerimg img:nth-child(3){
    animation-delay: 7s;
}
.jokerimg img:nth-child(4){
    animation-delay: 10s;
}
@keyframes jokerslide {
    0% {
        transform: translatex(-100%);
        opacity: .5;
    }
   10% {
        transform: translateX(0%);
        opacity: 1;
    }
    30%{
        transform: translateX(100%);
        opacity: 0;
    }
    40% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }

}
  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-content p {
    margin: 10px 0;
    font-size: 24px;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .footer-links a:hover {
    text-decoration: none;
  }
  /* Media Query for max-width 480px */
@media (max-width: 480px) {
   .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
    @keyframes spinlogo{
        0%{
            transform: rotateY(0deg);
        }
        50%{
            transform: rotateY(180deg);
        }
        100%{
            transform: rotateY(0deg);
        }
    }
    .logo img{
        width: 100%;
      animation-name: spinlogo;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    .list a{  
        font-size: 18px;
        margin: 5px 0;
    }
    .list ul{
       width: 80%;
        padding: 0px;
       display: flex;
       justify-content: center;
        align-items: center;
    }

    .list ul li{
        font-size: 16px;
     margin-top: 15px;
        padding: 5px;
    }

    .aboutbatman{
        height: auto;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
       
   }
    .batimg{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .batimg img{
        padding: 10px 40px  ;
        height: 80%;
        width: 80%;
    }
    .joker{
        height: auto;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
       
    }

    .jokerabout{
        width: 80%;
        height: auto;
        margin: 20px 0;
        padding: 10px;
    }

    .jokerimg{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .jokerimg img{
        height: 100%;
        width: 100%;
    }
    .films{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filmcards{
        width: 100%;
        padding: 10px 5px;
        flex-direction: column;
    }
    .cards{
       width: 60%;
       height: 60%;
        margin: 20px 20px;
        padding: 10px 10px;
    }
    .cards img{
        margin-top: 20px;

        width: 80%;
        height: auto;
        border: 5px solid;
    }
    .footer-content p{
        font-size: 18px;
    }

    .footer-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer-links li{
        margin: 10px 0;
    }
}
@media( max-width: 768px){

    body{
        width: 100%;
        margin: 0px;
    }
    .aboutbatman {
        background-image: url(https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/d1d68dd9-bd61-4900-9d05-64d124f6494a/FanAnimatedBatman.jpg);
        background-attachment: cover;
        background-position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;
        margin: 0px;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    .batabout {
        width: 60%;
      height: 85%;
        /* margin: 25px 20px; */
        padding: 15px 5px;
        color: white;
        background-color: rgba(41, 37, 37, 0.493);
    }
    .films{
        width: 100%;
        height: auto;
        display:grid;
        flex-wrap: wrap;
        justify-content: space-around ;
        align-items: center;
    }
    .filmcards{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .joker{
        height: auto;
        width: 100%;
    }
    .jokerabout {
        width: 80%;
      height: auto;
        /* margin: 25px 20px; */
        padding: 15px 5px;
        color: white;
        background-color: rgba(41, 37, 37, 0.493);
    }
}
